@import "styles/_variables";

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  margin-bottom: map-get($spacing-sizes, "2");
}

.sidebar {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: auto 307px;
  }
  .sidebar {
    align-items: flex-start;
    background-color: $accent-dark-green;
    display: flex;
    justify-content: center;
    padding: map-get($spacing-sizes, "1");
    width: calc(
      100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
  }
}

.lastText {
  margin-bottom: map-get($spacing-sizes, "3");
}
