@import "styles/_variables";

.container {
  max-width: $max-content-width;
  margin: 0 auto;
}

.section {
  margin-bottom: map-get($spacing-sizes, "2");
}

.sidebar {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: auto 307px;
  }
  .sidebar {
    background-color: $accent-dark-green;
    display: flex;
    width: 100%;
  }
}

.lastText {
  margin-bottom: map-get($spacing-sizes, "3");
}
