@import "styles/_variables";

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.main {
  background-color: $primary-color;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.mainContent {
  @include get-text-color($primary-color);
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: $light-text-color;
  box-shadow: 2px 2px 4px 2px rgba(29, 29, 29, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
}

.footer {
  background-color: $light-text-color;
  @include get-text-color($light-text-color);
  position: sticky;
  bottom: 0;
  width: 100%;
}
