@import "styles/_variables";

.container {
  align-items: flex-start;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: 0;
  height: calc(
    100vh - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
  );
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "3");
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(
    100% - map-get($spacing-sizes, "3") - map-get($spacing-sizes, "3")
  );;
}

.hideOnMobile {
  display: none;
}

.tocHorizontalRule {
  border: none;
  background-color: rgba(#d1cac2, 0.4);
  height: 1px;
  margin: 0;
  margin-bottom: map-get($spacing-sizes, "3");
  width: 100%;
}

.tocList {
  list-style: auto;
  margin-inline-start: map-get($spacing-sizes, '2');
  overflow: auto;
}

.tocLi {
  margin-top: map-get($spacing-sizes, '4');
}

.tocLink {
  @include get-text-color($background-color);
  text-decoration: underline;
}

.maintocList {
  margin-inline-start: 0;
}

.tocTrigger {
  @include get-text-color($primary-color);
  align-items: center;
  background-color: $primary-color;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  bottom: map-get($spacing-sizes, '3');
  display: flex;
  height: map-get($spacing-sizes, '1');
  justify-content: center;
  position: fixed;
  right: map-get($spacing-sizes, '3');
  z-index: 2;
  width: map-get($spacing-sizes, '1');
}

@media only screen and (min-width: $mobile-large) {
  .container {
    padding: map-get($spacing-sizes, '1');
    width: calc(
      100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
  }
  .tocTrigger {
    bottom: map-get($spacing-sizes, '2');
    right: map-get($spacing-sizes, '2');
  }
}

@media only screen and (min-width: $tablet) {
  .container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 33%;
  }
}

@media only screen and (min-width: $desktop-small) {
  .container {
    box-shadow: none;
    position: sticky;
    height: calc(
      100vh - 87px - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
    padding: map-get($spacing-sizes, '1') map-get($spacing-sizes, '1') map-get($spacing-sizes, '1') 0;
    width: calc(100% - map-get($spacing-sizes, '1'));
  }
  .hideOnMobile {
    display: flex;
  }
  .tocTrigger {
    display: none;
  }

}

