@import "styles/_variables";

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.main {
  background-color: $primary-color;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.mainContent {
  @include get-text-color($primary-color);
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: $light-text-color;
  position: sticky;
  top: 0;
  width: 100%;
}

.headerContent {
  align-items: center;
  @include get-text-color($light-text-color);
  display: flex;
  font-weight: map-get($font-weights, "bold");
  font-size: map-get($font-sizes, "4");
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(
    $max-content-width - map-get($spacing-sizes, "2") -
      map-get($spacing-sizes, "2")
  );
  padding: map-get($spacing-sizes, "2");
  width: calc(
    100% - map-get($spacing-sizes, "2") - map-get($spacing-sizes, "2")
  );
  h1 {
    @include get-text-color($light-text-color);
  }
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: map-get($spacing-sizes, "3");
      a {
        @include get-text-color($light-text-color);
        text-decoration: none;
      }
    }
    li:first-child {
      margin-left: 0;
    }
  }
}
