@import "styles/_variables";

.backButton {
  align-self: flex-end;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: $accent-orange;
  margin: map-get($spacing-sizes, "4");
  padding: 0;
  text-decoration: underline;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 460px;
  margin: 0 auto;
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "2");
  width: 100%;
  span,
  h2 {
    align-self: center;
  }
}
