@import "styles/_variables";

.container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: map-get($spacing-sizes, "5");
    padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "2");
    position: sticky;
  }
}
