@import "styles/_variables";

.container {
  margin: 0 auto;
  max-width: calc($max-content-width - map-get($spacing-sizes, "3") - map-get($spacing-sizes, "3"));
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "3");
  width: calc(100% - map-get($spacing-sizes, "3") - map-get($spacing-sizes, "3"));
}

.pageTitle {
  margin-bottom: map-get($spacing-sizes, "1");
  font-weight: bold;
}

.blogItem {
  @include get-text-color($background-color);
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacing-sizes, "1");
}

.blogTitle {
  grid-area: title;
  line-height: 140%;
  margin-bottom: map-get($spacing-sizes, "3");
}

.imageContainer {
  grid-area: image;
  height: 170px;
  position: relative;
  margin-bottom: map-get($spacing-sizes, '2');
  width: 100%;
}

.categories {
  grid-area: categories;
  font-size: map-get($font-sizes, "6");
}

.description {
  grid-area: description;
  margin-bottom: map-get($spacing-sizes, "4");
}

@media only screen and (min-width: 424px) {
  .container {
    max-width: calc($max-content-width - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1"));
    padding: map-get($spacing-sizes, "1");
    width: calc(100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1"));
  }
}

@media screen and (min-width: 500px) {
  .blogItem {
    grid-template-columns: auto 215px;
    max-width: 700px;
  }
  .description {
    display: inline-block;
    margin-bottom: 0;
  }
  .imageContainer {
    height: 129px;
    max-width: $max-text-width;
    position: relative;
    width: 215px;
  }
}

@media screen and (min-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 0.71fr 0.29fr;
    height: 100%;
    min-height: calc(100vh - 87px);
  }
  .title {
    background-color: $primary-color;
  }
}
