@import "styles/_variables";

.blogItem {
  margin-bottom: map-get($spacing-sizes, "2");
}

.categories {
  margin-bottom: map-get($spacing-sizes, "3");
}

.container {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "2");
}
