@import "styles/_variables";

.blogItem {
  margin-bottom: map-get($spacing-sizes, "2");
}

.categories {
  margin-bottom: map-get($spacing-sizes, "3");
}

.imageContainer {
  margin-bottom: map-get($spacing-sizes, "4");
  max-width: 278px;
  width: 100%;
}
