@import "styles/_variables";

.blogImageContainer {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .blogImageContainer {
    height: 268px;
    width: 268px;
  }
}

@media only screen and (min-width: 768px) {
  .blogImageContainer {
    height: 460px;
    width: 460px;
  }
}

@media only screen and (min-width: 1024px) {
  .blogImageContainer {
    height: 614px;
    width: 614px;
  }
}

.wrapper {
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "2");
  code {
    background-color: $dark-text-color;
    @include get-text-color($dark-text-color);
    line-height: 1.857;
  }
}
