@import "styles/_variables";

.wrapper {
  height: calc(
    100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
  );
  margin: 0 auto;
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "2");
  width: calc(
    100% - map-get($spacing-sizes, "2") - map-get($spacing-sizes, "2")
  );
  img {
    aspect-ratio: 40%;
    width: 100%;
  }
  // highlight.js theme overrides
  overflow: auto;
  code + h2,
  pre + h2,
  ul + h2,
  p + h2 {
    margin-top: map-get($spacing-sizes, "2");
  }
  code + h3,
  pre + h3,
  ul + h3,
  p + h3 {
    margin-top: map-get($spacing-sizes, "3");
  }
  code + h4,
  pre + h4,
  ul + h4,
  p + h4 {
    margin-top: map-get($spacing-sizes, "4");
  }
  code + h5,
  pre + h5,
  ul + h5,
  p + h5 {
    margin-top: map-get($spacing-sizes, "5");
  }
  code + h6,
  pre + h6,
  ul + h6,
  p + h6 {
    margin-top: map-get($spacing-sizes, "6");
  }
  p {
    font-size: map-get($font-sizes, "5");
    line-height: map-get($line-height-sizes, "5");
    margin-bottom: map-get($spacing-sizes, "5");
    max-width: $max-text-width;
  }
}

@media only screen and (min-width: 767px) {
  .wrapper {
    padding: map-get($spacing-sizes, "1");
    width: calc(
      100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
  }
}

@media only screen and (min-width: 1023px) {
  .container {
    align-items: flex-start;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 0.29fr 0.71fr;
    margin: 0 auto;
    // TODO replace this with a global variable
    max-width: 1280px;
  }
}
