@import "styles/variables";

.button {
  background-color: $accent-blue;
  cursor: pointer;
  @include get-text-color($accent-blue);
  display: inline-block;
  font-weight: map-get($font-weights, "bold");
  text-transform: uppercase;
  margin-right: map-get($spacing-sizes, "4") !important;
  margin-top: map-get($spacing-sizes, "3");
  max-width: 200px;
  padding: map-get($spacing-sizes, "5") map-get($spacing-sizes, "4");
  width: calc(
    50% - map-get($spacing-sizes, "4") - map-get($spacing-sizes, "4") -
      map-get($spacing-sizes, "4")
  );
  text-align: center;
}

.button:hover {
  background-color: $primary-color;
  @include get-text-color($primary-color);
}

.button:last-child {
  margin-right: 0 !important;
}

.container {
  max-width: $max-content-width;
}

.imageContainer {
  aspect-ratio: 7/3;
  position: relative;
  width: 100%;
}

.table {
  max-width: calc(
    $max-text-width - map-get($spacing-sizes, "4") -
      map-get($spacing-sizes, "4")
  );
  margin-bottom: map-get($spacing-sizes, "2");
  font-size: map-get($font-sizes, "6");
  line-height: map-get($line-height-sizes, "6");
  overflow: auto;
  width: 100%;
  thead tr {
    border-bottom: 1px solid $accent-blue;
    font-weight: map-get($font-weights, "bold");
  }
  th,
  td {
    padding: map-get($spacing-sizes, "4");
  }
}

@media screen and (min-width: 767px) {
  .imageContainer {
    aspect-ratio: 8/2;
  }
}
