@import "styles/variables";

.button {
  background-color: $accent-blue;
  cursor: pointer;
  @include get-text-color($accent-blue);
  display: inline-block;
  font-weight: map-get($font-weights, "bold");
  text-transform: uppercase;
  margin-right: map-get($spacing-sizes, "4") !important;
  margin-top: map-get($spacing-sizes, "3");
  max-width: 200px;
  padding: map-get($spacing-sizes, "5") map-get($spacing-sizes, "4");
  width: calc(
    50% - map-get($spacing-sizes, "4") - map-get($spacing-sizes, "4") -
      map-get($spacing-sizes, "4")
  );
  text-align: center;
}

.button:hover {
  background-color: $primary-color;
  @include get-text-color($primary-color);
}

.button:last-child {
  margin-right: 0 !important;
}

.container {
  margin: 0 auto;
  max-width: $max-text-width;
  padding: map-get($spacing-sizes, "1") map-get($spacing-sizes, "3");
  overflow: auto;
  width: calc(
    100% - map-get($spacing-sizes, "3") - map-get($spacing-sizes, "3")
  );
}

.imageContainer {
  height: 170px;
  position: relative;
  margin-bottom: map-get($spacing-sizes, "2");
  width: 100%;
}

.cookieList {
  margin-bottom: map-get($spacing-sizes, "3");
  li {
    border-bottom: 1px solid rgba($dark-text-color, 0.1);
    column-gap: map-get($spacing-sizes, "1");
    display: grid;
    grid-template-columns: 75px calc(100% - 75px - map-get($spacing-sizes, "1"));
    font-size: map-get($font-sizes, "5");
    line-height: map-get($line-height-sizes, "5");
    padding: map-get($spacing-sizes, "5") map-get($spacing-sizes, "4");
  }
  li label {
    text-transform: uppercase;
  }
  li:last-child {
    border-bottom: none;
  }
  .cookieName {
    background-color: rgba($dark-text-color, 0.1);
    border: none;
    display: list-item;
    font-weight: 700;
    text-align: right;
  }
}

@media only screen and (min-width: $mobile-large) {
  .container {
    padding: map-get($spacing-sizes, "1");
    width: calc(
      100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
  }
}

@media screen and (min-width: $tablet) {
  .imageContainer {
    height: 300px;
    position: relative;
    margin-bottom: map-get($spacing-sizes, "2");
    width: 100%;
  }
}

@media only screen and (min-width: $desktop) {
  .imageContainer {
    height: 400px;
  }
}
