@import "styles/_variables";

.container {
  display: none;
}

@media only screen and (min-width: 1023px) {
  .container {
    align-items: flex-start;
    background-color: $accent-dark-olive;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    height: calc(
      100vh - 87px - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
    padding: map-get($spacing-sizes, "1");
    position: sticky;
    top: 0;
  }

  .tosHorizontalRule {
    border: none;
    background-color: rgba(#d1cac2, 0.4);
    height: 1px;
    margin: 0;
    margin-bottom: map-get($spacing-sizes, "3");
    width: 100%;
  }

  .tosList {
    list-style: auto;
    margin-inline-start: map-get($spacing-sizes, '2');
    overflow: auto;
  }

  .tosLi {
    margin-top: map-get($spacing-sizes, '4');
  }

  .tosLink {
    @include get-text-color($accent-dark-green);
    text-decoration: underline;
  }

  .tosList::-webkit-scrollbar {
    width: map-get($spacing-sizes, "4");
  }
  .tosList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($dark-text-color, 0.3);
  }
  .tosList::-webkit-scrollbar-thumb {
    background-color: $accent-dark-green;
    outline: none;
  }
  .tosList::-webkit-scrollbar-thumb {
    height: 15px;
    border-radius: map-get($spacing-sizes, "3");
  }
  .mainTosList {
    margin-inline-start: 0;
  }
}
