@import "styles/_variables";

.brand {
  display:none;
}

.headerContent {
  align-items: center;
  @include get-text-color($light-text-color);
  display: flex;
  font-weight: map-get($font-weights, "bold");
  font-size: map-get($font-sizes, "4");
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(
    $max-content-width - map-get($spacing-sizes, "2") -
      map-get($spacing-sizes, "2")
  );
  padding: map-get($spacing-sizes, "2") map-get($spacing-sizes, "3");
  width: calc(
    100% - map-get($spacing-sizes, "3") - map-get($spacing-sizes, "3")
  );
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: $mobile-large) {
  .headerContent {
    padding: map-get($spacing-sizes, "2") map-get($spacing-sizes, "1");
    width: calc(
      100% - map-get($spacing-sizes, "1") - map-get($spacing-sizes, "1")
    );
  }
  .brand {
    display: inline-block;
    @include get-text-color($light-text-color);
    font-size: map-get($font-sizes, "4");
    line-height: map-get($line-height-sizes, "4");
    width: auto;
  }
}
