$primary-color: #1d1d1d;

$accent-blue: #96c9dc;
$accent-dark-green: #596b5f;
$accent-dark-olive: #3e4841;
$accent-light-green: #94fbab;
$accent-orange: #ba875c;
$accent-purple: #d87cac;
$accent-yellow: #fffbdb;

$dark-text-color: $primary-color;
$light-text-color: #d1cac2;
