@import "styles/_variables";

pre code.hljs {
  background-color: $dark-text-color;
  display: block;
  line-height: map-get($line-height-sizes, "5");
  font-size: map-get($font-sizes, "5");
  padding: map-get($spacing-sizes, "3");
  margin-bottom: map-get($spacing-sizes, "3");
  overflow-x: auto;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: $dark-text-color;
  color: $light-text-color;
}
.hljs-keyword {
  color: $accent-orange;
  font-style: italic;
}
.hljs-built_in {
  color: $accent-dark-green;
  font-style: italic;
}

.hljs-type,
.hljs-regexp,
.hljs-symbol,
.hljs-function,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-section,
.hljs-params {
  color: $accent-blue;
}

.hljs-literal,
.hljs-subst,
.hljs-link,
.hljs-selector-tag,
.hljs-number,
.hljs-deletion {
  color: $accent-orange;
}

.hljs-meta .hljs-string,
.hljs-title,
.hljs-string,
.hljs-class,
.hljs-selector-id,
.hljs-bullet {
  color: $accent-yellow;
}

.hljs-comment {
  color: $accent-dark-green;
  font-style: italic;
}

.hljs-quote {
  color: $accent-dark-green;
  font-style: italic;
}

.hljs-strong,
.hljs-selector-class,
.hljs-code,
.hljs-variable,
.hljs-attribute,
.hljs-attr,
.hljs-name,
.hljs-tag,
.hljs-doctag,
.hljs-template-variable,
.hljs-addition {
  color: $accent-light-green;
}

.hljs-template-tag,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-formula,
.hljs-emphasis {
  color: $accent-purple;
}
